@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --first-color: #0452A0;
    --second-color: #3A9EF8;
    --third-color: #5B562D;
    --white-color: #ffffff;
    --offwhite-color: #fdf9f1;
    --rating-color: #ffa600;
    --black-color: #000000;
    --normal-font: "Rubik", sans-serif;
    --heading-font: "Space Grotesk", sans-serif;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    html,body {
        overflow-x: hidden;
    }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
    html,body {
        overflow-x: hidden;
    }
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    font-size: 18px;
}

p {
	font-weight: 400;
    font-size: 18px;
}
.btn {
   font-size: 18px; 
}

p,li,a,span,small,label,button,td,.btn {
    font-family: var(--normal-font);
}

input::placeholder {
    font-family: var(--normal-font);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--first-color);
}
.form-select:focus {
    box-shadow: none;
    border: 1px solid var(--first-color);
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--rating-color);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--third-color);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--first-color);
}

.accordion-button:not(.collapsed) {
    background-color: var(--white-color) !important;
    color: var(--first-color) !important;
}

.nav-link {
    color: var(--first-color);
}
.nav-link:hover {
    color: var(--third-color);
}

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

/* Breadcrumb */
#breadcrumb {
    margin: 50px 0;
}
#breadcrumb p a {
    color: var(--first-color);
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #breadcrumb {
        margin: 30px 0;
    }
}
/* Breadcrumb */


/* Top Navbar */
#top_nav {
    background-color: var(--first-color);
    padding: 6px 25px;
}
#top_nav ul li a {
    color: var(--white-color);
}
#top_nav ul li {
    color: var(--white-color); 
}
#top_nav ul li a:hover {
    color: var(--offwhite-color);
}
#top_nav ul li {
    display: inline-block;
}
.top_nav_number ul li {
    padding-left: 20px;
}
.top_nav_number ul li:first-child {
    padding-left: 0;
}
.top_nav_social ul li {
    padding-right: 15px;
}
.top_nav_social ul li a {
    font-size: 18px;
}
.top_nav_social ul li:last-child {
    padding-right: 0;
}

#top_nav .btn {
    background-color: var(--second-color);
}
#reservation_btn {
    background-color: var(--white-color) !important;
    color: var(--first-color);
    font-weight: 600;
    font-size: 16px;
    border-radius: 30px;
}
#reservation_btn:hover {
    background-color: var(--first-color) !important;
    color: var(--white-color);
}


/* Main Navbar */
#main_navbar {
    background-color: #ffffff85;
    padding: 5px 0;
    position: sticky;
    top: 10px;
    z-index: 999;
    margin: 0 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(124, 124, 124, 0.25),
        inset 0 0 20px rgba(255, 255, 255, 0.427);
}
#main_navbar .main_navbar_logo {
    width: 120px;
    height: 100%;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar_icons_item {
    flex-direction: row;
}
#navbar_right_btn .btn {
    background-color: var(--first-color);
    color: var(--white-color);
}
#navbar_right_btn .btn:hover {
    background-color: var(--second-color);
}
#nav_icons ul li:last-child {
    padding-left: 0;
}
#navbarTogglerDemo01 ul li {
    display: block !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    width: auto;
}
#services_items img {
    height: auto;
    width: 35px;
}
nav .nav-item {
    padding: 0 5px;
}
nav .nav-link {
    font-weight: 400;
    font-size: 18px;
    color: var(--first-color);
}
nav .btn {
    background-color: var(--first-color);
    border-radius: 10px;
    color: var(--white-color);
}
nav .btn:hover {
    background-color: var(--second-color);
    color: var(--offwhite-color);
}
.offcanvas.show:not(.hiding) {
    overflow-y: scroll;
    height: 100vh;
}
.offcanvas {
    height: 100vh;
}
#service_menu_link:hover #services_items {
    display: block;
}

#services_items .d-flex {
    display: block !important;
}
.offcanvas-header img {
    width: 140px;
}
.dropdown-item:active {
    background-color: var(--first-color) !important;
}
@keyframes animateBtn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #main_navbar {
        margin: 0;
    }
    .dropdown-menu.show {
        display: block;
    }
    #mobile_search_option {
        display: block;
        padding: 5px 15px;
    }
    #mobile_search_option .btn {
        background-color: var(--third-color);
        color: var(--offwhite-color);
        border: none;
    }
    .dropdown-menu.show ul {    
        margin-bottom: 25px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
    #main_navbar {
        margin: 0;
    }
    .dropdown-menu.show {
        display: block;
    }
    #mobile_search_option {
        display: block;
        padding: 5px 15px;
    }
    #mobile_search_option .btn {
        background-color: var(--third-color);
        color: var(--offwhite-color);
        border: none;
    }
    .dropdown-menu.show ul {    
        margin-bottom: 25px;
    }
}
@media only screen and (min-width: 801px) and (max-width: 1100px) {
    .dropdown-menu.show ul {    
        margin-bottom: 25px;
    }
}  
@media only screen and (min-width: 1101px) and (max-width: 1500px)  {
    .dropdown-menu.show ul {    
        margin-bottom: 25px;
    }
} 

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #top_nav {
        padding: 6px 15px;
    }
    #main_navbar .main_navbar_logo {
        width: 100px;
    }
    #top_nav #top_nav_social_icon {
        display: none;
    }
    #top_nav .top_nav_email {
        display: none;
    }
    .top_nav_number .top_nav_phone {
        padding-left: 0;
    }
    .text-wrap-menu {
        text-wrap: auto;
    }
    nav .btn {
        margin-top: 30px;
    }
    #navbar_mobile_hide_icon {
        display: none;
    }
    #main_navbar .justify-content-around {
        justify-content: space-between !important;
    } 
    #top_nav .justify-content-evenly {
        justify-content: center !important;
    }
    .navbar-nav  {
        padding-left: 15px !important;
    }
    #navbar_right_btn .btn {
        font-size: 16px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
    #top_nav {
        padding: 6px 15px;
    }
    #main_navbar .main_navbar_logo {
        margin-left: 10px;
    }
    #navbar_mobile_hide_icon {
        display: none;
    }
    #main_navbar .justify-content-around {
        justify-content: space-between !important;
    } 
}

/* Navbar */


/* Home */
.home_slider .swiper-slide {
    padding: 120px 0;
}
.slider_one {
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("../image/slider1.jpg");
}
.slider_two {
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("../image/slider2.jpg");
}
.slider_three {
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("../image/slider3.jpg");
}
.home_slider h5 {
    display: inline;
    background-color: var(--first-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.home_slider h1 {
    margin-top: 20px;
    font-size: 60px;
    color: var(--white-color);
}
.home_slider p {
    font-size: 20px;
    color: var(--white-color);
}
.home_slider .btn {
    background-color: var(--first-color);
    color: var(--offwhite-color);
}
.home_slider .btn:hover {
    background-color: var(--second-color);
}
.home_first {
    padding: 50px 0;
    background-color: var(--offwhite-color);
}
.home_first .services_box {
    outline: 1px solid var(--second-color);
    border-radius: 50px;
    padding: 30px 0;
    transition: .5s ease-in-out;
}
.home_first .services_box:hover {
    background-color: var(--second-color);
    outline: none;
    transition: .5s ease-in-out;
}
.home_first .services_box:hover i {
    color: var(--white-color);
}
.home_first .services_box:hover p {
    color: var(--white-color);
}
.home_first .services_box p {
    color: var(--first-color);
}
.home_first i {
    transform: rotate(45deg);
    color: var(--first-color);
    font-size: 25px;
}
.home_first a {
    color: var(--first-color);
}
.home_about {
    padding: 50px 0;
}
.home_about img {
    border-radius: 10px;
    width: 100%;
}
.home_about h2 {
    font-size: 45px;
    color: var(--first-color);
}
.home_about h4 {
    color: var(--third-color);
}
.service_offerd {
    padding: 50px 0;
    background-color: var(--offwhite-color);
}
.service_offerd h2 {
    font-size: 45px;
    margin-bottom: 20px;
    color: var(--first-color);
}
.home_round_anim {
    width: 130px;
    animation: rounded linear infinite 5s;
}
@keyframes rounded {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.service_offerd .offerd_right {
    height: 340px;
    overflow-y: scroll;
}
.service_offerd .offerd_right .offerd_right_box {
    border: 1px solid var(--second-color);
    padding: 20px;
    border-radius: 10px;
}
.service_offerd .offerd_right .offerd_right_box h6 {
    background-color: var(--first-color);
    padding: 3px 10px;
    border-radius: 30px;
    display: inline;
    color: var(--offwhite-color);
}
.service_offerd .offerd_right .offerd_right_box h4 {
    margin-top: 10px;
}
.our_roofing {
    padding: 50px 0;
    background-color: var(--first-color);
    color: var(--white-color);
}
.roofing_rate_first {
    border-bottom: 1px dashed var(--offwhite-color);
    border-right: 1px dashed var(--offwhite-color);
    padding-bottom: 15px;
}
.roofing_rate_second {
    border-bottom: 1px dashed var(--offwhite-color);
    padding-bottom: 15px;
}
.roofing_rate_third {
    border-right: 1px dashed var(--offwhite-color);
    padding: 15px;
}
.roofing_rate_forth {
    padding-top: 15px;
}
.our_roofing h2 {
    font-size: 45px;
}
.our_roofing h3 {
    font-size: 40px;
    font-weight: 700;
}
.home_promises {
    padding: 50px 0;
}
.home_promises h5 {
    display: inline;
    background-color: var(--second-color);
    padding: 2px 10px;
    border-radius: 5px;
    color: var(--offwhite-color);
}
.home_promises h2 {
    font-size: 45px;
    color: var(--first-color);
}
.prom_box {
    border: 1px solid var(--second-color);
    padding: 20px;
    border-radius: 10px;
}
.home_promises p {
    margin-top: 20px;
    height: 111px;
    overflow-y: scroll; 
}
.quality_service {
    padding: 50px 0;
}
.quality_service h2 {
    font-size: 45px;
    color: var(--first-color);
}
.quality_service i {
    font-size: 40px;
    color: var(--second-color);
    transition: .5s ease-in-out;
}
.quality_service img {
    border-radius: 5px;
}
.quality_service .quality_right:hover i {
    transform: rotateY(180deg);
    transition: .5s ease-in-out;
}
.quality_service .nav-pills .nav-link.active {
    background-color: var(--first-color);
}
.home_blog_section {
    padding: 50px 0;
    background-image: linear-gradient(rgba(255, 252, 222, 0.7), rgba(255, 252, 222,0.7)),url("../image/blog-bg-1-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home_blog_section h2 {
    font-size: 45px;
    color: var(--first-color);
}
.user_com p {
    font-size: 16px;
}
.home_blog_date h4 {
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.home_blog_section a {
    color: var(--first-color);
}
.home_blog_date p {
    background-color: var(--third-color);
    color: var(--white-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.home_why_choose {
    padding: 50px 0;
}
.home_why_choose h2 {
    font-size: 45px;
    color: var(--first-color);
}
.home_why_choose img {
    width: 80px;
}
.why_choose_box {
    backdrop-filter: blur(10px);    
    background-color: rgba(255, 247, 244, 0.8);
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #e2e2e2;
}
.whatsapp_review {
    padding: 50px 0;
}
.whatsapp_review h2 {
    font-size: 45px;
    color: var(--first-color);
}
.home_four_step {
    padding: 50px 0;
}
.home_four_step img {
    width: 50px;
    margin-bottom: 20px;
}
.home_four_step p {
    height: 80px;
    overflow-y: scroll;
}
.home_four_step .home_four_step_box 
{
    border: 1px dashed var(--first-color);
    padding: 20px;
    border-radius: 10px;
}
.fail_faster {
    padding: 50px 0;
}
.fail_faster h2 {
    font-size: 45px;
    color: var(--first-color);
}
.fail_faster li {
    font-size: 18px;
    margin: 5px 0;
}
.fail_faster img {
    width: 100%;
    border-radius: 10px;
}
.home_certificate {
    padding: 50px 0;
    background-color: var(--offwhite-color);
}
.home_certificate h2 {
    font-size: 50px;
    color: var(--first-color);
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    .slider_one {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .slider_two {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .slider_three {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .home_slider .swiper-slide {
        padding: 50px 0;
    }
    .home_slider .swiper-slide h1 {
        font-size: 35px;
    }
    .home_slider .swiper-slide p {
        font-size: 18px;
    }
    .home_first {
        padding: 30px 0;
    }
    .home_first .col-lg-3 {
        width: 50%;
    }
    .home_about {
        padding: 30px 0;
    }
    .whatsapp_review {
        padding: 30px 0;
    }
    .whatsapp_review h2 {
        font-size: 30px;
    }
    .home_four_step {
        padding: 30px 0;
    }
    .home_four_step .home_four_step_box {
        margin-bottom: 15px;
    }
    .home_about h2 {
        font-size: 30px;
        margin-top: 20px;
    }
    .fail_faster {
        padding: 30px 0;
    }
    .fail_faster h2 {
        font-size: 30px;
    }
    .service_offerd {
        padding: 30px 0;
    }
    .our_roofing {
        padding: 30px 0;
    }
    .roofing_number {
        margin-top: 30px;
    }
    .roofing_number .col-lg-6 {
        width: 50%;
    }
    .roofing_number h3 {
        font-size: 30px;
    }
    .quality_right_side {
        margin-top: 20px;
    }
    .service_offerd h2 {
        font-size: 30px;
    }
    .service_offerd img {
        display: none;
    }
    .quality_service {
        padding: 30px 0;
    }
    .home_first .services_box {
        outline: 1px solid var(--second-color);
        border-radius: 10px;
    }
    .home_blog_section h2 {
        font-size: 30px;
    }
    .home_promises h2 {
        font-size: 30px;
    }
    .quality_service h2 {
        font-size: 30px;
    }
    .our_roofing h2 {
        font-size: 30px;
    }
    .home_why_choose {
        padding: 30px 0;
    }
    .home_why_choose h2 {
        font-size: 30px;
    }
    .home_certificate {
        padding: 30px 0;
    }
    .home_certificate h2 {
        font-size: 30px;
    }
}
/* Home */ 


/* About Us */
.about_first_section {
    padding: 50px 0;
}
.about_first_section h2 {
    font-size: 45px;
    color: var(--first-color);
}
.about_first_img_exper_text {
    position: relative;
}
.about_first_main_img {
    width: 100%;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.experience_text {
    padding: 15px;
    background-color: var(--rating-color);
    display: inline;
    position: absolute;
    z-index: 300;
    left: -110px;
    top: 30%;
    border-radius: 10px;
    transform: rotate(-90deg);
}
.first_video ul li {
    font-size: 18px;
}
.first_video ul li i {
    color: var(--first-color);
}
.experience_text span {
    font-size: 45px;
    background-color: var(--offwhite-color);
    padding: 5px;
    border-radius: 5px;
}
.about_rev_img {
    width: 150px;
}
.about_rev_star li {
    display: inline-block;
}
.about_rev_star li i {
    color: var(--rating-color);
}
.about_first_btn {
    background-color: var(--first-color);
    color: var(--white-color);
}
.about_first_btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
}

.about_second_section {
    padding: 50px 0;
    background-image: linear-gradient(rgba(255, 252, 222, 0.7), rgba(255, 252, 222,0.7)),url("../image/project-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about_second_section img {
    width: 100%;
}
.about_second_progress {
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(2);
}
.about_second_progress ul li {
    display: inline-block;
    margin-right: 10px;
}
.about_second_section h2 {
    font-size: 45px;
    color: var(--first-color);
}
.about_third_section {
    padding: 50px 0;
}
.about_third_section h2 {
    font-size: 45px;
    color: var(--first-color);
}
.about_third_section .thirdSwiper img {
    width: 60px;
    border-radius: 50%;
}
.about_testimon_text {  
    height: 123px;
    overflow-y: scroll;
}
.about_third_section .thirdSwiper p {
    text-align: justify;
}
.about_third_section .thirdSwiper .fa-quote-right {
    font-size: 45px;
    opacity: .5;
    color: var(--second-color);
}
.about_fifth_section {
    padding: 50px 0;
}
.about_fifth_section .accordion-item {
    margin-bottom: 10px;
    border: 1px solid var(--first-color);
}
.about_fifth_section h2 {
    font-size: 45px;
    color: var(--first-color);
}
.about_fifth_section img {
    border-radius: 50px;
}
.about_fifth_section li {
    font-size: 18px;
}
.about_fifth_section li i {
    color: var(--first-color);
}
.mission_vision img {
    width: 100%;
    border-radius: 10px;
}
.mission_vision .mission {
    padding: 50px 0;
}
.mission_vision .mission h3 {
    font-size: 35px;
    color: var(--first-color);
}
.mission_vision .vision {
    background-image: linear-gradient(#FFF9E1, #FFF9E1),url("../image/bgtes3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}
.mission_vision .vision h3 {
    font-size: 35px;
    color: var(--first-color);
}
.mission_vision .values {
    padding: 50px 0;
}
.mission_vision .values h3 {
    font-size: 35px;
    color: var(--first-color);
}
.about_forth_section {
    padding: 50px 0;
}
.about_forth_section i {
    font-size: 40px;
}
.about_forth_section .forth_box {
    outline: 1px solid var(--second-color);
    padding: 20px 0;
    border-radius: 10px;
    transition: .5s ease-in-out;
}
.about_forth_section .forth_box:hover {
    transition: .5s ease-in-out;
    color: var(--offwhite-color);
    background-color: var(--second-color);
    outline: none;
}
.about_forth_section h2 {
    font-size: 45px;
    color: var(--first-color);
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .about_first_section {
        padding: 30px 0;
    }
    .about_first_section h5 {
        margin-top: 20px;
    }
    .about_first_section h2 {
        font-size: 30px;
    }
    .about_second_section {
        padding: 30px 0;
    }
    .about_second_section h2 {
        font-size: 30px;
    }
    .about_second_section img {
        margin-top: 20px;
    }
    .experience_text span {
        font-size: 30px;
    }
    .about_third_section {
        padding: 30px 0;
    }
    .about_third_section h2 {
        font-size: 30px;
    }
    .about_fifth_section {
        padding: 30px 0;
    }
    .about_fifth_section h2 {
        font-size: 30px;
    }
    .about_fifth_section h5 {
        margin-top: 20px;
    }
    .fifth_second_img {
        display: none;
    }
    .mission_vision .mission {
        padding: 30px 0;
    }
    .mission_vision .mission h3 {
        font-size: 30px;
        margin-top: 20px;
    }
    .mission_vision .vision h3 {
        font-size: 30px;
    }
    .mission_vision .values h3 {
        font-size: 30px;
        margin-top: 20px;
    }
    .mission_vision .vision {
        padding: 30px 0;
    }
    .mission_vision .values {
        padding: 30px 0;
    }
    .reviewer_details {
        display: block !important;
    }
    .about_forth_section {
        padding: 30px 0;
    }
    .about_forth_section h2 {
        font-size: 30px;
    }
    .about_forth_section .forth_box {
        margin-top: 20px;
    }
}
/* About Us */


/* Service */
.service_first_section {
    padding: 50px 0;
}
.service_first_section h2 {
    font-size: 45px;
}
.service_first_section .btn {
    background-color: var(--second-color);
    color: var(--white-color);
}
.service_first_section h2 span {
    color: var(--second-color);
}
.service_first_section h4 {
    font-style: italic;
}
.service_first_section img {
    width: 100%;
    border-radius: 10px;
}
.service_first_section .rounded_image {
    width: 130px;
    animation: rounded linear infinite 5s;
    text-align: end;
}
@keyframes rounded {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.service_two {
    padding: 50px 0;
}
.service_two h2 {
    font-size: 45px;
    color: var(--first-color);
}
.service_two img {
    width: 100%;
    border-radius: 10px;
}
.service_two i {
    font-size: 30px;
    color: var(--second-color);
}
.service_three {
    padding: 50px 0;
    background-color: var(--offwhite-color);
}
.service_three h3 {
    color: var(--black-color);
    font-style: italic;
}
.service_three .btn {
    background-color: var(--second-color);
    color: var(--white-color);
}
.service_faq {
    padding: 50px 0;
}
.service_faq h2 {
    font-size: 45px;
    color: var(--first-color);
}
.service_video_section {
    padding: 50px 0;
}
.recent_completed_project {
    padding: 50px 0;
}
.recent_completed_project h2 {
    font-size: 45px;
    color: var(--first-color);
}
.recent_completed_project img {
    border-radius: 10px;
}
.service_fifth {
    padding: 50px 0;
    background-color: var(--offwhite-color);
}
.service_fifth i {
    font-size: 40px;
    color: var(--second-color);
    margin-bottom: 20px;
}
.service_sixth {
    padding: 50px 0;
}
.service_sixth h2 {
    font-size: 45px;
    color: var(--first-color);
}
.service_sixth img {
    width: 100%;
    border-radius: 10px;
}
.service_sixth li {
    font-size: 18px;
}
.services_offer {
    padding: 50px 0;
}
.services_offer h2 {
    font-size: 45px;
    color: var(--first-color);
}
.services_offer img {
    border-radius: 10px;
}
.services_offer h4 {
    color: var(--second-color);
}
.painting_offer_card 
{
    border: 1px dashed var(--second-color);
    padding: 15px;
    border-radius: 20px;
}
.painting_offer_card p {
    height: 130px;
    overflow-y: scroll;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .service_first_section {
        padding: 30px 0;
    }
    .service_first_section h2 {
        font-size: 30px;
    }
    .service_first_section img {
        margin-top: 20px;
    }
    .service_first_section h4 {
        margin-top: 15px;
    }
    .service_first_section p {
        text-align: left !important;
        margin-top: 15px;
    }
    .service_three {
        padding: 30px 0;
    }
    .service_first_section .rounded_image {
        display: none;
    }
    .service_two {
        padding: 30px 0;
    }
    .service_two h2 {
        font-size: 30px;
    }
    .service_faq {
        padding: 30px 0;
    }
    .service_faq h2 {
        font-size: 30px;
    }
    .service_video_section {
        padding: 30px 0;
    }
    .service_fifth {
        padding: 30px 0;
    }
    .recent_completed_project {
        padding: 30px 0;
    }
    .recent_completed_project h2 {
        font-size: 30px;
    }
    .service_sixth {
        padding: 30px 0;
    }
    .service_sixth h2 {
        font-size: 30px;
        margin-top: 20px;
    }
    .service_fifth i {
        margin-top: 20px;
    }
    .services_offer {
        padding: 30px 0;
    }
    .services_offer h2 {
        font-size: 30px;
    }
}
/* Service */


/* Pricing */
.price_first_section {
    padding-bottom: 50px;
}
.price_first_section h5 {
    display: inline;
    background-color: var(--first-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.price_first_section h2 {
    font-size: 40px;
    margin-top: 10px;
}
.price_first_section .price_table .main_logo_of_paint {
    width: 120px;
}
.price_first_section .price_table .painting_drum {
    width: 90px;
}
.price_second_section {
    padding-bottom: 50px;
}
.price_third_section {
    padding-bottom: 50px;
}
.price_second_section h5 {
    display: inline;
    background-color: var(--first-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.price_second_section h2 {
    font-size: 40px;
    margin-top: 10px;
}
.price_second_section .price_table .main_logo_of_paint {
    width: 150px;
}
.price_second_section .price_table .painting_drum {
    width: 90px;
}
.price_second {
    padding: 100px 0;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../image/service-4-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.price_form_side {
    background-color: var(--offwhite-color);
    padding: 40px;
    border-radius: 10px;    
}
.price_form_side h3 {
    font-size: 40px;
}
.price_second h5 {
    display: inline;
    background-color: var(--first-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.price_second input {
    margin-bottom: 15px;
}
.price_second .btn {
    background-color: var(--first-color);
    color: var(--white-color);
}
.price_second .btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
}
@media only screen and (min-width: 300px) and (max-width: 500px)  {
    .price_second {
        padding: 40px 0;
    }
    .price_first_section h2 {
        font-size: 30px;
    }
    .price_form_side h3 {
        font-size: 30px;
    }
    .price_form_side {
        padding: 20px;
    }
    .price_first_section {
        padding-bottom: 30px;
    }
    .price_second_section {
        padding-bottom: 30px;
    }
    .price_third_section {
        padding-bottom: 30px;
    }
}
/* Pricing */


/* FAQ */
#faq_page {
    padding: 60px 0;
}
#faq_page h2 {
    font-size: 60px;
    font-weight: 400;
}
.faq_form_box {
    background-color: var(--offwhite-color);
    padding: 20px;
    border-radius: 10px;
}
.faq_form_box .btn {
    background-color: var(--first-color);
    color: var(--white-color);
    margin-top: 30px;
}
.faq_form_box .btn:hover {
    background-color: var(--red-color);
    color: var(--white-color);
}
.accordion-button:focus {
    box-shadow: none;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #faq_page {
        padding: 30px 0;
    }
    #faq_page h2 {
        font-size: 40px;
    }
    .faq_form_box {
        margin-top: 30px;
    }
}
/* FAQ */

/* Blog */
#blog_page {
    padding-bottom: 50px;
}
#blog_side .card h4 {
    color: var(--first-color);
    font-size: 25px;
}
#blog_side .blog_card_img{
    position: relative;
}
#blog_side .blog_card_img .fa-arrow-up-right-from-square {
    position: absolute;
    bottom: -10px;
    right: 20px;
    background-color: var(--first-color);
    padding: 15px;
    color: var(--white-color);
    border-radius: 5px;
}
#blog_side .blog_card_img .fa-arrow-up-right-from-square:hover {
    background-color: var(--second-color);
}
#blog_side .card h4:hover {
    color: var(--second-color);
}
#blog_side .card p {
    color: var(--black-color);
}
#blog_side .card small {
    color: var(--black-color);
}
.blog_card_bottom a {
    color: var(--first-color);
}
.blog_right_side {
    position: sticky;
    top: 120px;
    margin-bottom: 20px;
}
.blog_right_search {
    background-color: var(--first-color);
    padding: 15px;
    border-radius: 5px;
}
.blog_right_search .btn {
    background-color: var(--offwhite-color);
    color: var(--first-color);
    border: none;
}
.blog_right_search .btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
}
.blog_right_category {
    background-color: var(--offwhite-color);
    padding: 15px;
    border-radius: 5px;
}
.blog_right_category ul li {
    margin: 5px 0;
}
.blog_right_category ul li a {
    color: var(--red-color);
}
.blog_right_tags {
    background-color: var(--first-color);
    padding: 15px;
    border-radius: 5px;
}
.blog_right_tags hr {
    color: var(--offwhite-color);
}
.blog_right_tags h4 {
    color: var(--offwhite-color);
}
.blog_right_tags ul li {
    display: inline-block;
    background-color: var(--offwhite-color);
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
}
.blog_right_tags ul li a {
    color: var(--first-color);
}
.blog_right_recent_post {
    background-color: var(--third-color);
    padding: 15px;
    border-radius: 5px;
    color: var(--white-color);
}
.blog_right_recent_post li {
    margin: 10px 0;
}
.blog_right_recent_post a {
    color: var(--white-color);
}
.blog_right_recent_post img {
    height: 80px;
    width: 80px;
    border-radius: 5px;
}
.recent_date {
    font-size: 14px;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #blog_page {
        padding-bottom: 30px;
    }
    #blog_side .card h4 {
        font-size: 25px;
    }
    .blog_right_side {
        margin-top: 30px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 900px) {
    #blog_page {
        padding: 30px 0;
    }
}
/* Blog */

/* Single Blog */
#blog_single_page {
    padding-bottom: 50px;
}
#single_blog_write {
    padding-bottom: 30px;
}
.signle_blog_main_img {
    border-radius: 10px;
}
#blog_single_page img {
    width: 100%;
}
.single_blog_tags {
    background-color: var(--first-color);
    border-radius: 5px;
}
.single_blog_tags ul li {
    display: inline-block;
    background-color: var(--red-color);
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
}
.single_blog_tags ul li a {
    color: var(--white-color);
}
.single_social_icon ul li {
    display: inline-block;
    margin-right: 15px;
}
.single_social_icon ul li:last-child {
    margin-right: 0;
}
.single_social_icon ul li a {
    color: var(--first-color);
    font-size: 20px;
}
.single_social_icon ul li a:hover {
    color: var(--second-color);
}
#comment_form .btn {
    background-color: var(--first-color);
    color: var(--white-color);
    border: none;
}
#comment_form .btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
    border: none;
}
#comments img {
    width: 50px;
    height: 50px;
}
#visitor_comments {
    border-bottom: 1px solid var(--black-color);
    padding-top: 20px;
}
#related_post_div {
    margin-bottom: 40px;
}
#related_post_div h4 {
    color: var(--second-color);
}
#related_post_div h4:hover {
    color: var(--first-color);
}
#related_post_div p, small {
    color: var(--black-color);
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #blog_single_page {
        padding: 30px 0;
    }
    #blog_single {
        padding-bottom: 30px;
    }
    #blog_tag_and_social {
        display: block !important;
    }
    #blog_tag_and_social .single_social_icon {
        margin-top: 20px;
    }
}
/* Single Blog */


/* Contact Us */
.contact_form_section .contact_form {
    background-image: linear-gradient(rgba(255, 247, 244, 0.8), rgba(255, 247, 244, 0.8)),url("../image/contact-shape-1-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
}
.contact_form_section img {
    width: 100%;
    border-radius: 20px;
}
.contact_form_section .btn {
    background-color: var(--first-color);
    color: var(--white-color);
}
.contact_form_section .btn:hover {
    background-color: var(--second-color);
}
.contact_info_section i {
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--second-color);
}
.contact_information {
    border: 1px solid var(--third-color);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
.contact_information:first-child {
    margin-top: 0;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    .contact_form_section .contact_form {
        margin-top: 20px;
    }
}
/* Contact Us */


/* Get In Touch */
.getQuote_first{
    padding: 50px 0;
}
.getQuote_first .form_side {
    background-color: var(--offwhite-color);
    padding: 30px;
    border-radius: 10px;
}
.getQuote_first input{
    margin-bottom: 10px;
}
.getQuote_first select{
    margin-bottom: 10px;
}
.getQuote_first .btn {
    margin-top: 20px;
    background-color: var(--first-color);
    color: var(--white-color);
}
.getQuote_first .btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
}
.getQuote_first h5 {
    display: inline;
    background-color: var(--first-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.getQuote_first h2 {
    font-size: 50px;
    margin-top: 20px;
}
.getQuote_first ul {
    margin-top: 30px;
}
.getQuote_first ul li {
    padding: 5px 0;
    font-size: 18px;
}
.getQuote_first ul li i {
    color: var(--second-color);
}
#getQuote_second {
    padding: 50px 0;
    background-color: var(--black-color);
}
#getQuote_second h3 {
    color: var(--white-color);
    font-size: 40px;
}
#getQuote_second .swiper img {
    width: 100px;
    margin: auto;
    opacity: .5;
}
#getQuote_second .swiper img:hover {
    opacity: 1;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #getQuote_second .swiper img {
        width: 80px;
    }
    .getQuote_first h2 {
        font-size: 40px;
    }
    #getQuote_second h3 {
        font-size: 35px;
        margin-top: 20px;
        text-align: center;
    }
}
/* Get In Touch */


/* Footer */

footer .footer_first_part {
    padding: 30px 0;
    background-color: var(--first-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
footer .footer_first_part {
    font-size: 35px;
    color: var(--white-color);
}
.footer_subscribe_part {
    padding: 30px 0;
    color: var(--white-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)),url("../image/project-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer_subscribe_part h4 {
    font-size: 35px;
    font-style: italic;
}
footer hr {
    color: var(--first-color);
}
footer .footer_first_part i {
    color: var(--white-color);
    font-size: 20px;
}
footer .footer_first_part h3 {
    color: var(--white-color);
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
}
footer .footer_first_part p {
    color: var(--white-color);
}

footer .footer_second_part {
    padding: 50px 0;
    background-color: var(--white-color);
}
footer .footer_second_part img {
    width: 120px;
    height: 100%;
    margin-bottom: 30px;
}
.subscribe_btn {
    background-color: var(--first-color);
    color: var(--white-color);
}
.footer_learn_more_btn {
    color: var(--white-color);
    background-color: var(--first-color);
}
.footer_learn_more_btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
}
.subscribe_btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
}
footer .footer_subscribe_social_media ul li {
    display: inline-block;
    margin-left: 20px;
}
footer .footer_subscribe_social_media ul li:first-child {
    margin-left: 0;
}
footer .footer_subscribe_social_media hr {
    color: var(--offwhite-color);
}
footer .footer_subscribe_social_media ul li a  {
    color: var(--offwhite-color);
}
footer .footer_second_part h5 {
    font-weight: 500;
    font-size: 23px;
    font-style: italic;
}
footer .footer_second_part h6 {
    color: var(--white-color);
}
footer .footer_second_part .quick_link_menu li {
    transition: .5s ease-in-out;
}
footer .footer_second_part .quick_link_menu li:hover {
    transform: translateX(10px);
    transition: .5s ease-in-out;
}
footer .footer_second_part .support_link_menu li {
    transition: .5s ease-in-out;
}
footer .footer_second_part .support_link_menu li:hover {
    transform: translateX(10px);
    transition: .5s ease-in-out;
}

footer .footer_social_media ul li {
    display: inline-block;
    margin-left: 20px;
}
footer .footer_social_media hr {
    color: var(--black-color);
}
footer .footer_social_media ul li a {
    color: var(--black-color);
    font-size: 20px;
    transition: all .5s ease-in-out;
}
footer .footer_social_media ul li a:hover {
    color: var(--second-color);
    transition: all .5s ease-in-out;

}
footer .quick_link_menu li {
    margin: 10px 0;
}
footer .quick_link_menu li a {
    color: var(--black-color);
}
footer .quick_link_menu li a i {
    color: var(--black-color);
}
footer .support_link_menu li {
    margin: 10px 0;
}
footer .support_link_menu li a {
    color: var(--black-color);
}
footer .support_link_menu li a i {
    color: var(--black-color);
}
footer .footer_social_media {
    margin-top: 20px;
}
footer .footer_social_media ul li:first-child {
    margin-left: 0;
}
footer .footer_contact li {
    font-size: 18px;
}
footer .footer_copywrite_part {
    background-color: var(--first-color);
    padding: 10px 0;
    color: var(--white-color);
}
footer .footer_copywrite_part a {
    text-decoration: none;
    color: var(--white-color);
}
#payment_icons {
    background-color: var(--offwhite-color);
}
#payment_icons img {
    width: 700px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    footer .footer_first_part h3 {
        font-size: 30px;
    }
    footer .footer_second_part h5 {
        margin-top: 30px;
    }
    footer .footer_second_part img {
        width: 100px;
    }
    #payment_icons img {
        width: 400px;
    }
    .footer_learn_more_btn {
        margin-bottom: 15px;
    }
    .footer_social_media {
        margin-top: 15px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 900px) {
    .footer_learn_more_btn {
        margin-bottom: 25px;
    }
}


#btn-back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    z-index: 999;
    background-color: var(--second-color);
}
#btn-back-to-top i {
    color: var(--white-color);
}
